.DS_Store
assets/
node_modules*
public/
.babelrc
.eslintignore
.eslintrc.js
build.js
index.html
webpack*
npm-debug.log*
yarn*

# Editor directories and files
.github
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
